<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div id="wrapper">
        <header class="col-md-offset-1 col-md-10 ">
            <div class="menu-navigation">
                <ul class="navigation">
                    <li class="col-md-2 page">
                        <a href="/" class="selected">
                            Home
                        </a>
                    </li>
                    @Html.Action("ListPages", "Pages")
                </ul>
            </div>
        </header>
        <div class="row">
            <div class="red col-md-offset-1 col-md-10 row">
                <aside class="col-md-4" id="sidebar">
                    <!-- begin widgetized sidebar 1 -->
                    <ul>
                        @Html.Action("ListCategories", "Categories")
                        <li id="categories-3" class="widget row widget_categories">
                            <div class="col-md-10">
                                <h2 class="widgettitle">Categories</h2>
                                <ul>
                                    <li class="cat-item cat-item-122927714">
                                        <a href="http://viktordakov.wordpress.com/category/c-part-1/" sl-processed="1">C# part 1</a>
                                    </li>
                                    <li class="cat-item cat-item-1">
                                        <a href="http://viktordakov.wordpress.com/category/uncategorized/" sl-processed="1">Uncategorized</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <!-- end widgetized sidebar 1 -->
                </aside>
                <section>
                    <div class="col-md-8" id="content-wrapper">
                        @RenderBody()
                    </div>
                </section>
            </div>
        </div>

    </div>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div id="wrapper">
            s
        </div>*@
        <footer class="navbar-fixed-bottom">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
